ul.dropdown-menu.dropdown-menu-right li {
    margin: 0 5px !important;
    
}

div.dataTables_wrapper div.dataTables_processing {
    padding: 3px 0;
    background: #FA424A;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.bootstrap-select .status {
    background: #f0f0f0;
    clear: both;
    color: #999;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: 1;
    margin-bottom: -5px;
    padding: 10px 20px;
}

.hr-form {
    border-top-color: #d8e2e7;
    margin: 0 0 10px 0;
}
.form-control:focus,.bootstrap-select:focus {
    border-color: crimson;
}